<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>
    <add key="HttpServer" value="https://www.google.com" />
    <add key="SyncEveryMinutes" value="15" />
    <add key="Autostart" value="0" />
    <add key="UseProxyServer" value="0" />
    <add key="ProxyServer" value="" />
    <add key="ProxyPort" value="" />
    <add key="ProxyUsername" value="" />
    <add key="ProxyPasswort" value="" />
    <add key="ProxyDomain" value="" />
  </appSettings>
</configuration>